# dependencias
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# producción
/build

# misc
.DS_Store
*.pem

# depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variables de entorno locales (NUNCA subir claves)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel / netlify
.vercel
.netlify

# typescript
*.tsbuildinfo
next-env.d.ts
